<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
    <link rel="icon" href="/assets/astro.png" type="image/png">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="{{ '/' | relative_url }}">Home :D</a></li>
                <li><a href="{{ '/anthropology.html' | relative_url }}">Anthropology :)</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{ content }} <!-- This is where the page content will be displayed -->
    </main>

    <footer>
        
        <a href="https://instagram.com/dhruv_m120" target="_blank">
            <img src="/assets/insta.png" alt="Instagram" class="social-icon">
        </a>
        <a href="https://linkedin.com/in/dhruvmalladi" target="_blank">
            <img src="/assets/link.png" alt="LinkedIn" class="social-icon">
        </a>
    </footer>
</body>
</html>


